@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grid-color: #e5e7eb;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --grid-color: #1f2937;
}

body {
  background-color: var(--background);
  background-image: linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 20px 20px;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
